<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/your_account/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="your_account" />
      <add key="ClearTextPassword" value="your_GitHub PAT" />
    </github>
  </packageSourceCredentials>
</configuration>